@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');


.cuerpo {
    background-color: #00ABB3;

    font-family: 'Fredoka One', cursive;
    color: black;
    font-size: 25px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.titulo {
    font-family: 'Fredoka One', cursive;
    color: white;


}

.seccion-personajes {
    justify-content: center;
    text-align: center;
    font-size: larger;
    color: black;

}


.tarjetas {
    display: flex;
    justify-content: center;
    align-content: center;
}

.tarjeta-personaje {
    height: 140px;
    width: 212px;
    background: #3C4048;
    color: white;
    text-align: center;
    margin: 10px;
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 20px;
}

.tarjeta-personaje img {
    width: 70px;
}




.elegir-personaje {
    margin-top: 20px;
    border-radius: 20px;
    border: solid 2px;
    padding: 9px;
    align-items: center;
}


.botonera-ataques {
    display: flex;
    align-items: center;
    gap: 40px;
    
}

.boton-fuego {
    font-size: 15px;
    font-family: 'Fredoka One', cursive;
    color: white;
    font-size: 20px;
    background: rgb(185, 121, 3);
    padding: 10px;
    border: 2px solid white;
    border-radius: 20px;

}

.boton-agua {
    font-size: 15px;
    font-family: 'Fredoka One', cursive;
    color: white;
    font-size: 20px;
    background: rgb(7, 125, 223);
    padding: 10px;
    border: 2px solid white;
    border-radius: 20px;
}

.boton-tierra {
    font-size: 15px;
    font-family: 'Fredoka One', cursive;
    color: white;
    font-size: 20px;
    background: rgb(121, 46, 3);
    padding: 10px;
    border: 2px solid white;
    border-radius: 20px;


}

.seccion-mensajes {
    margin: auto;
    width: 220px;
    background: #3C4048;
    color: white;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 6px;
    border: 2px solid white;

}

.grid-combate {
    display: grid;
    grid-template-columns: 109px 103px;
    gap: 10px;
    align-items: center;
    justify-content: space-evenly;
}

.elegir-personaje {
    font-size: 15px;
    font-family: 'Fredoka One', cursive;
    font-size: 20px;

}

.boton-reiniciar {
    font-size: 15px;
    font-family: 'Fredoka One', cursive;
    color: white;
    font-size: 20px;
    font-size: 20px;
    padding: 10px;
    border: 3px solid transparent;
    background-color: transparent;

}

.css-ataque-jugador, .css-ataque-enemigo{

    display: flex;
    flex-direction: column;
    align-items: center;
}

input {

display: none 
}

input:checked + label{
    background-color: #B2B2B2;
    color: black;
    zoom: 120%;
    box-shadow: #3C4048;
}

@media (max-width: 360px){
    .tarjetas,.botonera-ataques{
    flex-direction: column;
    }
}
